{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	


<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">分類瀏覽</a> > <p>主題分類</p>
</div>

<div class="category_item">
	<div class="list_content">
		<h6 style="color: #734329">歷史脈絡</h6>
		<a href="">台灣林業史</a>
		<a href="">主題紀錄片</a>
	</div>

	<div class="list_content">
		<h6 style="color: #629055">林地管理</h6>
		<a href="">森林巡館</a>
		<a href="">保安林地</a>
		<a href="">林火防災</a>
		<a href="">治山防洪</a>
		<a href="">水土保持</a>
	</div>
	<div class="list_content">
		<h6 style="color: #3675b6">生態保育</h6>
		<a href="">森林動植物</a>
		<a href="">濕地生態</a>
		<a href="">病蟲害防治</a>
		<a href="">野生物救護</a>
		<a href="">外來種/野放</a>
	</div>
	<div class="list_content">
		<h6 style="color: #a1d55e">林業發展</h6>
		<a href="">木雕/工藝</a>
		<a href="">建材/家具</a>
		<a href="">園藝/造林</a>
		<a href="">林產物</a>
		<a href="">其他產業</a>
	</div>

	<div class="list_content">
		<h6 style="color: #f85e5e">地理區域</h6>
		<a href="">北台灣</a>
		<a href="">中台灣</a>
		<a href="">南台灣</a>
		<a href="">東台灣</a>
		<a href="">外島</a>
	</div>

	<div class="list_content">
		<h6 style="color: #ff8a00">森林育樂</h6>
		<a href="">環境教育</a>
		<a href="">遊樂區/步道</a>
		<a href="">自然教育中心</a>
		<a href="">國家森林志工</a>
	</div>
	<div class="list_content">
		<h6 style="color: #7996eb">中央行政</h6>
		<a href="">活動紀錄</a>
		<a href="">業務簡介</a>
		<a href="">國際合作</a>
		<a href="">林業交流</a>
	</div>
	<div class="list_content">
		<h6 style="color: #0d7741">資源調查</h6>
		<a href="">航空測量</a>
		<a href="">電腦資訊應用</a>
		<a href="">其他調查</a>
	</div>

</div>
<div class="bg-screen"></div>


















{% endblock %}