{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	



<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">森林小知識</a> > <p>森林小百科</p>
</div>




<div class="tt-title">
	<img src="img/icon_a2.png" alt="">
	<h4>森林小百科</h4>
</div>


<!-- need_search -->
<div class="need_search">
	<div class="select_item">
		<a href="" class="advanced_search_btn"><i class="fa fa-search-plus" aria-hidden="true"></i> 進階搜尋</a>
	</div>
	<div class="clear"></div>
	<div class="advanced_search">
			<div class="search-section">
				<h6>請輸入查詢條件</h6>
				<div class="s-item">
					<p>標題</p> <input type="text">
				</div>
				<div class="s-item">
					<p>學名</p> <input type="text">
				</div>
				<div class="s-item">
					<p>特徵</p> <input type="text">
				</div>		
				<div class="s-item">
					<p>棲息分佈</p> <input type="text">
				</div>
			<div class="bottons">
				<a href="" class="sure">確認</a>	
				<a href="" class="clean">清除</a>
			</div>		

		</div>

	</div>
</div>

	
<div class="encyclopedia_index">
	<div class="category_item">
		<img src="img/a07.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>花草</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo03.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>魚</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo02.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>哺乳動物</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo04.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>兩棲爬蟲</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo05.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>昆蟲</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo06.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>樹果</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo07.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>鳥類</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	

	<div class="category_item">
		<img src="img/olo08.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>花草</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>

	<div class="category_item">
		<img src="img/olo09.jpg" alt="">
		<a href="encyclopedia_01.html">
			<div class="mask">
			<h6>其他</h6>
			<p>共 12903筆</p>
			</div>
		</a>
	</div>


</div>












<div class="bg-screen"></div>


















{% endblock %}