{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	




<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">森林小知識</a> > <a href="">森林小百科</a> > <p>爬蟲類</p>
</div>

<div class="tt-title">
	<img src="img/icon_tt01.png" alt="">
	<h4>爬蟲類</h4>
</div>



	<div class="encyclopedia_item">
		<div class="after_classification_encyclopedia">
			<div class="search_record">
				
				<div class="l-item">
					<h6>哺乳動物</h6>
					<p>12998</p>
				</div>
				<div class="l-item">
					<h6>兩棲爬蟲</h6>
					<p>18729</p>
				</div>
				<div class="l-item">
					<p></p>	
					<h4>共 20930筆</h4>
				</div>
				<a href="" class="c-btn">清除記錄</a>
			</div>
			
			<div class="encyclopedia_list">
				<div class="list">
					<a href="" class="listlink">花草</a>
					<a href="" class="listlink">魚</a>
					<a href="" class="listlink">哺乳動物</a>
					<a href="" class="listlink">兩棲爬蟲</a>
					<a href="" class="listlink">昆蟲</a>
					<a href="" class="listlink">樹果</a>
					<a href="" class="listlink">鳥類</a>
					<a href="" class="listlink">花草</a>
					<a href="" class="listlink">其他</a>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		
		<div class="encyclopedia_content">
			<div class="manyblock">
				<div class="photo"><img src="img/olo09.jpg" alt=""></div>
				<div class="text">
					<h5>八星虎甲蟲</h5>
					<h6>學名 / Cicindela aurulenta</h6>
					<p> <span>特徵</span>	昆蟲類，體色豔麗，翅鞘具六大兩小白斑紋，複眼與大顎發達。體長大約只有兩公分，但已經是台灣所有虎甲蟲中體型最大的種類。經常有人會質疑：牠的翅鞘上明明只有三對白色的大斑紋，為什麼會被取名為「八星虎甲蟲」呢？仔細一瞧，其實在牠翅鞘前緣的兩側「肩角」處，左右還各有一個微小的白點，總數的確是「八星」。</p>
					<p> <span>棲息分布</span> 分布在中海拔山區以下的各地林緣環境，部分海岸也見得到牠們的行蹤。成蟲除了冬季外皆會出現，習慣在林道路面或荒地等向陽的開闊地面上活動。</p>
				</div>
			</div>

			<div class="manyblock">
				<div class="photo"><img src="img/olo08.jpg" alt=""></div>
				<div class="text">
					<h5>八星虎甲蟲</h5>
					<h6>學名 / Cicindela aurulenta</h6>
					<p> <span>特徵</span>	昆蟲類，體色豔麗，翅鞘具六大兩小白斑紋，複眼與大顎發達。體長大約只有兩公分，但已經是台灣所有虎甲蟲中體型最大的種類。經常有人會質疑：牠的翅鞘上明明只有三對白色的大斑紋，為什麼會被取名為「八星虎甲蟲」呢？仔細一瞧，其實在牠翅鞘前緣的兩側「肩角」處，左右還各有一個微小的白點，總數的確是「八星」。</p>
					<p> <span>棲息分布</span> 分布在中海拔山區以下的各地林緣環境，部分海岸也見得到牠們的行蹤。成蟲除了冬季外皆會出現，習慣在林道路面或荒地等向陽的開闊地面上活動。</p>
				</div>
			</div>
			<div class="manyblock">
				<div class="photo"><img src="img/olo07.jpg" alt=""></div>
				<div class="text">
					<h5>八星虎甲蟲</h5>
					<h6>學名 / Cicindela aurulenta</h6>
					<p> <span>特徵</span>	昆蟲類，體色豔麗，翅鞘具六大兩小白斑紋，複眼與大顎發達。體長大約只有兩公分，但已經是台灣所有虎甲蟲中體型最大的種類。經常有人會質疑：牠的翅鞘上明明只有三對白色的大斑紋，為什麼會被取名為「八星虎甲蟲」呢？仔細一瞧，其實在牠翅鞘前緣的兩側「肩角」處，左右還各有一個微小的白點，總數的確是「八星」。</p>
					<p> <span>棲息分布</span> 分布在中海拔山區以下的各地林緣環境，部分海岸也見得到牠們的行蹤。成蟲除了冬季外皆會出現，習慣在林道路面或荒地等向陽的開闊地面上活動。</p>
				</div>
			</div>
			<div class="manyblock">
				<div class="photo"><img src="img/olo06.jpg" alt=""></div>
				<div class="text">
					<h5>八星虎甲蟲</h5>
					<h6>學名 / Cicindela aurulenta</h6>
					<p> <span>特徵</span>	昆蟲類，體色豔麗，翅鞘具六大兩小白斑紋，複眼與大顎發達。體長大約只有兩公分，但已經是台灣所有虎甲蟲中體型最大的種類。經常有人會質疑：牠的翅鞘上明明只有三對白色的大斑紋，為什麼會被取名為「八星虎甲蟲」呢？仔細一瞧，其實在牠翅鞘前緣的兩側「肩角」處，左右還各有一個微小的白點，總數的確是「八星」。</p>
					<p> <span>棲息分布</span> 分布在中海拔山區以下的各地林緣環境，部分海岸也見得到牠們的行蹤。成蟲除了冬季外皆會出現，習慣在林道路面或荒地等向陽的開闊地面上活動。</p>
				</div>
			</div>
			<div class="manyblock">
				<div class="photo"><img src="img/olo05.jpg" alt=""></div>
				<div class="text">
					<h5>八星虎甲蟲</h5>
					<h6>學名 / Cicindela aurulenta</h6>
					<p> <span>特徵</span>	昆蟲類，體色豔麗，翅鞘具六大兩小白斑紋，複眼與大顎發達。體長大約只有兩公分，但已經是台灣所有虎甲蟲中體型最大的種類。經常有人會質疑：牠的翅鞘上明明只有三對白色的大斑紋，為什麼會被取名為「八星虎甲蟲」呢？仔細一瞧，其實在牠翅鞘前緣的兩側「肩角」處，左右還各有一個微小的白點，總數的確是「八星」。</p>
					<p> <span>棲息分布</span> 分布在中海拔山區以下的各地林緣環境，部分海岸也見得到牠們的行蹤。成蟲除了冬季外皆會出現，習慣在林道路面或荒地等向陽的開闊地面上活動。</p>
				</div>
			</div>




		</div>
	</div>
	<div class="pages">
			<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
			<a href="">6</a>
			<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>

		</div>



</div>











<div class="bg-screen"></div>


















{% endblock %}