{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	


<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">分類瀏覽</a> > <p>主題分類</p>
</div>

<div class="fat_footer">

	<a href="" class="link-a">分類瀏覽</a>
	<a href="" class="link-b">主題瀏覽</a>
	<a href="" class="link-b">時間軸檢視</a>
	<a href="" class="link-b">空間分布檢視</a>
	<div class="lll"></div>

	<a href="" class="link-a">影音檢索</a>
	<a href="" class="link-b">簡易查詢</a>
	<a href="" class="link-b">進階查詢</a>
	<a href="" class="link-b">查詢說明</a>
	<div class="lll"></div>

	<a href="" class="link-a">主題展示</a>
	<div class="lll"></div>

	<a href="" class="link-a">影音使用說明</a>
	<div class="lll"></div>

	<a href="" class="link-a">相關網站</a>
	<a href="" class="link-b">林務局全球資訊網</a>
	<a href="" class="link-b">臺灣國家公園</a>
	<a href="" class="link-b">農業虛擬博物館</a>
	<a href="" class="link-b">臺灣山林悠遊網</a>
	<a href="" class="link-b">自然之窗-臺灣自然影音頻道</a>
	<a href="" class="link-b">自然保育網</a>
	<div class="lll"></div>


	<a href="" class="link-a">資訊導覽</a>
	<a href="" class="link-b">回首頁</a>
	<a href="" class="link-b">關於我們</a>
	<a href="" class="link-b">網站導覽</a>
	<a href="" class="link-b">常見問題</a>
	<a href="" class="link-b">意見信箱</a>
	<a href="" class="link-b">RSS訂閱</a>
	<a href="" class="link-b">資訊安全政策</a>
	<a href="" class="link-b">隱私權保護政策</a>
	<a href="" class="link-b">政府網站資料開放</a>

</div>
<div class="bg-screen"></div>


















{% endblock %}