{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}





<div class="mainslider">
	

	<div class="slider-desktop">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="squre">
						<h6>戀戀火金姑</h6>
						<p>環境中豐富多樣的鳥類、爬蟲類、兩棲類、甲殼類、水生昆蟲，以及梯田中的農作一一入境，建構出有機農村的願景</p>
					</div>
					<img src="img/slider_01.jpg" alt="">
				</li>
				<li>
					<div class="squre">
						<h6>戀戀火金姑</h6>
						<p>環境中豐富多樣的鳥類、爬蟲類、兩棲類、甲殼類、水生昆蟲，以及梯田中的農作一一入境，建構出有機農村的願景</p>
					</div>
					<img src="img/slider_02.jpg" alt="">
				</li>
				<li>
					<div class="squre">
						<h6>戀戀火金姑</h6>
						<p>環境中豐富多樣的鳥類、爬蟲類、兩棲類、甲殼類、水生昆蟲，以及梯田中的農作一一入境，建構出有機農村的願景</p>
					</div>
					<img src="img/slider_03.jpg" alt="">
				</li>
				<li>
					<div class="squre">
						<h6>戀戀火金姑</h6>
						<p>環境中豐富多樣的鳥類、爬蟲類、兩棲類、甲殼類、水生昆蟲，以及梯田中的農作一一入境，建構出有機農村的願景</p>
					</div>
					<img src="img/slider_04.jpg" alt="">
				</li>

			</ul>
		</div>
	</div>

	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>


<div class="black">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
	

	<div class="hotkeyword">
		<div class="keyword_a">
			<h5>熱門關鍵字</h5>
		</div>
		<div class="totalkeyward">
			<span><a href="">蜂台灣</a></span>
			<span><a href="">有雞可尋</a></span>
			<span><a href="">永興知我鷹</a></span>
			<span><a href="">賴在成龍溼地的侯鳥</a></span>
			<span><a href="">白海豚練習曲</a></span>
			<span><a href="">熱鍋邊的螃蟹</a></span>
			<span><a href="">海稻米的願望</a></span>
			<span><a href="">鳥之湯</a></span>
			<span><a href="">阿里山日出</a></span>
			<span><a href="">許貓頭鷹一個家</a></span>
			<span><a href="">守鱉的人</a></span>
		</div>
		<div class="twmap">
			<img src="img/taiwan.png" alt="">
		</div>
	</div>
</div>	



<div class="hotvideo">

	<div class="hottitle">
		<div class="tt-t">
			<div class="hoticon"><img src="img/icon_a1.png" alt=""></div>
			<h4>熱門影音</h4>
			<h5>觀賞珍貴影音記錄，探索台灣森林瑰寶</h5>
		</div>
		<div class="switch">
			<p>影音</p> 
			<input type="checkbox" id="s1" />
  			<label class="slider-v1" for="s1"></label>
  			<p>照片</p> 
		</div>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a01.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a02.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a03.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

</div>



<div class="hotvideo">
	<div class="hottitle">
		<div class="tt-t">
			<div class="hoticon"><img src="img/icon_a1.png" alt=""></div>
			<h4>最新影音</h4>
			<h5>觀賞珍貴影音記錄，探索台灣森林瑰寶</h5>
		</div>
		<div class="switch">
			<p>影音</p> 
			<input type="checkbox" id="s1" />
  			<label class="slider-v1" for="s1"></label>
  			<p>照片</p> 
		</div>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a01.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a02.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

	<div class="hot_video_content">
		<a href="">
		<img src="img/a03.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>

</div>

<div class="bird-base">
	<div class="asidebird">
		<img src="img/asidebird.png" alt="">
	</div>
	<div class="uglyfrog">
		<img src="img/frog.png" alt="">
	</div>

</div>






{% endblock %}