{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	







<div class="breac_crumbs">
	<a href="">首頁</a>  > <p>影音使用說明</p>
</div>




<div class="tt-title">
	<img src="img/icon_a2.png" alt="">
	<h4>影音使用說明</h4>
</div>


<div class="instructions">
	<h4>行政院農業委員會林務局影音資料提供要點</h4>
	<h5>資料來源:林務局 日期:2011/11/2</h5>


		<p>一、	行政院農業委員會林務局（以下簡稱本局）為強化並推廣林業自然教育，提供國人接觸林業及自然保育資訊管道，特訂定「行政院農業委員會林務局影音資料提供要點」（以下簡稱本要點）。</p>
		<p>二、	本要點所稱影音資料，係指以數位方式建置於「林務局影音資訊平台」網站（網址：http:// media.forest.gov.tw）之影片及照片，原始資料型態包括數位式、類比式、幻燈片、照片等。</p>
		<p>（一）影片：以記錄動態影像及聲音為主之影帶、碟片等。</p>
		<p>（二）照片：以記錄靜態影像為主之圖片、幻燈片、海報等。</p>
		<p>三、	本要點提供之影音資料，著作財產權為本局所有，使用時並應尊重著作人格權，不得私自有償或無償轉賣、借予、複製、出租、網路傳輸予第三者；另如非完整使用該影音資料，應先知會並取得本局同意後方得使用，如有違著作權相關法規，刑責自負。</p>
		<p>四、	使用本局影音資料，應註明著作人姓名及本局提供之字樣，不論公益或商業用途，均不得損及本局形象。經查使用方式或刊登事實與原申請用途不符或不當使用時，本局有權隨時終止使用，並追究相關責任，且於二年內不得再申請。</p>
		<p>五、	本局出借之影音資料，以具有教育性、推廣性、研究性及報導性用途優先，商業性用途或廣告次之，每次授權以使用一次為原則；本局提供之影音資料，不得作其他使用，且使用完畢後須將檔案自行刪除。</p>
		<p>六、	申請本局影音資料時，請先至「林務局影音資訊平台」查詢瀏覽，填列『林務局影音資訊平台資料授權申請書』後，以公文、電子郵件或傳真方式向本局提出申請。</p>
		<p>七、	申請之照片資料係供編印出版品者，申請時須檢附相關出版計畫（含出版品發行量）供本局審核，發行後並提供本局二份備查。</p>
		<p>八、	本局影音資料對外提供收費標準及申請數量如下：</p>
		<p>(一)	影片：</p>
		<p>1.	政府機關（構）、公私立學術單位、圖書館、合法立案之非營利團體，如欲典藏、學術研究教育、生態教育推廣或公益用途之公開上映；以及電視台或有線電視系統業者之公開播送，經本局審核通過者，得授權無償提供。</p>
		<p>2.	一般團體、營利事業或個人，如欲典藏或其他用途之公開上映，請至政府出版品展售處購買。</p>
		<p>3.	每次申請數量以五支為原則。</p>
		<p>(二)	照片：</p>
		<p>1.	為學術研究教學、生態保育教育推廣、或與本局業務相關之宣傳報導等非營利之使用，經本局審核通過者，得授權無償提供。</p>
		<p>2.	非屬前款使用目的及一般團體、營利事業或個人，如欲使用，每張新台幣捌佰元整。</p>
		<p>3.	每次申請數量以十張為原則。</p>
		<p>(三)	依著作權法第四十七條為編製教科用書，欲使用本局影音資料者，依經濟部智慧財產局訂頒之「著作權法第四十七條第四項之使用報酬率」標準收費。</p>

		<br><br>
		<h4>附件下載</h4>

		<a href="" class="attached_file"><i class="fa fa-download" aria-hidden="true"></i> 「林務局影音資訊平台」影音資料授權申請書</a>
		<a href="" class="attached_file"><i class="fa fa-download" aria-hidden="true"></i> 「著作權法第47條及著作權第47條第4項之使用報酬率</a>
		<a href="" class="attached_file"> <i class="fa fa-download" aria-hidden="true"></i>  行政院農業委員會林務局影音資料提供要點申請流程行政院農業委員會林務局影音資料提供要點申請流程Word檔</a>



</div>


	













<div class="bg-screen"></div>


















{% endblock %}