{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	




<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">森林小知識</a> > <a href="">森林小百科</a> > <p>爬蟲類</p>
</div>

<div class="tt-title">
	<img src="img/icon_tt01.png" alt="">
	<h4>森林小叮嚀</h4>

	<div class="select_area_n">
		<select name="kt">
			<option value="all">年代篩選</option>
			<option value="2017">2017</option>
			<option value="2017">2016</option>
			<option value="2017">2015</option>
			<option value="2017">2014</option>
			<option value="2017">2013</option>
			<option value="2017">2012</option>

		</select>
	</div>



</div>



<div class="notice">

	<a href="#popup_2" class="open-popup-link">
		<div class="notice_item">
			<div class="poster">
				<img src="img/96238392953.jpg" alt="">
			</div>
			<div class="text">
				<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
				<p>資料來源:林務局</p>
				<p>日期:2009/6/23</p>
			</div>
		</div>
	</a>
	
	<a href="#popup_2" class="open-popup-link">
		<div class="notice_item">
		<div class="poster">
			<img src="img/9623849153.jpg" alt="">
		</div>
		<div class="text">
			<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
			<p>資料來源:林務局</p>
			<p>日期:2009/6/23</p>
		</div>
	</div>
	</a>	
<a href="#popup_2" class="open-popup-link">
	<div class="notice_item">
		<div class="poster">
			<img src="img/963012395253.jpg" alt="">
		</div>
		<div class="text">
			<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
			<p>資料來源:林務局</p>
			<p>日期:2009/6/23</p>
		</div>
	</div>
	</a>	
<a href="#popup_2" class="open-popup-link">
	<div class="notice_item">
		<div class="poster">
			<img src="img/9623849153.jpg" alt="">
		</div>
		<div class="text">
			<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
			<p>資料來源:林務局</p>
			<p>日期:2009/6/23</p>
		</div>
	</div>
	</a>	<a href="#popup_2" class="open-popup-link">
	<div class="notice_item">
		<div class="poster">
			<img src="img/963012395253.jpg" alt="">
		</div>
		<div class="text">
			<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
			<p>資料來源:林務局</p>
			<p>日期:2009/6/23</p>
		</div>
	</div>
	</a>	
<a href="#popup_2" class="open-popup-link">
	<div class="notice_item">
		<div class="poster">
			<img src="img/9623849153.jpg" alt="">
		</div>
		<div class="text">
			<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
			<p>資料來源:林務局</p>
			<p>日期:2009/6/23</p>
		</div>
	</div>
	</a>	
<a href="#popup_2" class="open-popup-link">
	<div class="notice_item">
		<div class="poster">
			<img src="img/963012395253.jpg" alt="">
		</div>
		<div class="text">
			<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
			<p>資料來源:林務局</p>
			<p>日期:2009/6/23</p>
		</div>
	</div>
	</a>	<a href="#popup_2" class="open-popup-link">
	<div class="notice_item">
			<div class="poster">
				<img src="img/963012395253.jpg" alt="">
			</div>
			<div class="text">
				<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
				<p>資料來源:林務局</p>
				<p>日期:2009/6/23</p>
			</div>
		</div>
	</a>	
	<a href="#popup_2" class="open-popup-link">
		<div class="notice_item">
			<div class="poster">
				<img src="img/9623849153.jpg" alt="">
			</div>
			<div class="text">
				<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
				<p>資料來源:林務局</p>
				<p>日期:2009/6/23</p>
			</div>
		</div>
	</a>	
	<a href="#popup_2" class="open-popup-link">
		<div class="notice_item">
			<div class="poster">
				<img src="img/963012395253.jpg" alt="">
			</div>
			<div class="text">
				<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
				<p>資料來源:林務局</p>
				<p>日期:2009/6/23</p>
			</div>
		</div>
		</a>	<a href="#popup_2" class="open-popup-link">
		<div class="notice_item">
			<div class="poster">
				<img src="img/9623849153.jpg" alt="">
			</div>
			<div class="text">
				<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
				<p>資料來源:林務局</p>
				<p>日期:2009/6/23</p>
			</div>
		</div>
	</a>	
	<a href="#popup_2" class="open-popup-link">
		<div class="notice_item">
			<div class="poster">
				<img src="img/963012395253.jpg" alt="">
			</div>
			<div class="text">
				<h6>買門票、填資料、送保險，安心暢遊國家森林遊樂區</h6>
				<p>資料來源:林務局</p>
				<p>日期:2009/6/23</p>
			</div>
		</div>
	</a>	

</div>

	<div class="pages">
		<a href=""> <i class="fa fa-angle-left" aria-hidden="true"></i> </a>
		<a href="">1</a>
		<a href="">2</a>
		<a href="">3</a>
		<a href="">4</a>
		<a href="">5</a>
		<a href="">6</a>
		<a href=""> <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
	</div>

</div>

<div id="popup_2" class="open-popup-link poster mfp-hide">
	<img src="img/9623849153.jpg" alt="">
</div>









<div class="bg-screen"></div>


















{% endblock %}