{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	


<div class="breac_crumbs">
	<a href="">首頁</a> >  <p>開放資料</p>
</div>

<div class="tt-title">
	<img src="img/icon_tt01.png" alt="">
	<h4>開放資料</h4>
</div>

<div class="opendata">

	<!-- <div class="row-page">
		<div class="column_a"><h6>資料集描述</h6></div>
		<div class="column_b"><h6>現任行政院長影音資料，包括院會談話、訪視行程、接見外賓及其他重要行程等</h6></div>
		<div class="clear"></div>
	</div> -->
	<div class="row-page">
		<div class="column_a"><p>資料集描述</p></div>
		<div class="column_b"><p>歷史脈絡類別影音資料，包含台灣林業歷史、主題紀錄片</p></div>
		<div class="clear"></div>
	</div>
	
	<div class="row-page">
		<div class="column_a"><p>主要欄位說明</p></div>
		<div class="column_b"><p>歷史脈絡類別影音資料，包含台灣林業歷史、主題紀錄片</p></div>
		<div class="clear"></div>
	</div>
	
	<div class="row-page">
		<div class="column_a"><p>資料資源</p></div>
		<div class="column_b">
			<p><a href="">JSON</a> 資料集</p> 	
			<p><a href="">CSV</a> 資料集清單</p> 
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="row-page">
		<div class="column_a"><p>資料集類型</p></div>
		<div class="column_b"><p>rawData</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-page">
		<div class="column_a"><p>資料集提供機關名稱</p></div>
		<div class="column_b"><p>林務局</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-page">
		<div class="column_a"><p>資料量</p></div>
		<div class="column_b"><p>21123</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-page">
		<div class="column_a"><p>更新頻率</p></div>
		<div class="column_b"><p>每日</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-page">
		<div class="column_a"><p>授權方式</p></div>
		<div class="column_b"><p>政府資料開放授權條款-第1版</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-page">
		<div class="column_a"><p>授權說明網址</p></div>
		<div class="column_b"><p>http://data.gov.tw/license</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-page">
		<div class="column_a"><p>計費方式</p></div>
		<div class="column_b"><p>free</p></div>
		<div class="clear"></div>
	</div>
		<div class="row-page">
		<div class="column_a"><p>資料集提供機關聯絡人</p></div>
		<div class="column_b"><p>徐志偉</p></div>
		<div class="clear"></div>
	</div>
		<div class="row-page">
		<div class="column_a"><p>資料集提供機關聯絡人電話</p></div>
		<div class="column_b"><p>02-33567749</p></div>
		<div class="clear"></div>
	</div>
		<div class="row-page">
		<div class="column_a"><p>發布時間</p></div>
		<div class="column_b"><p>2017-03-03T22:30:01</p></div>
		<div class="clear"></div>
	</div>
		<div class="row-page">
		<div class="column_a"><p>開始收錄時間</p></div>
		<div class="column_b"><p>105年05月20日</p></div>
		<div class="clear"></div>
	</div>
		<div class="row-page">
		<div class="column_a"><p>內嵌連結</p></div>
		<div class="column_b"><p>/ContentStorage/resource/openData/000019.html</p></div>
		<div class="clear"></div>
	</div>
		




</div>


<div class="bg-screen"></div>


















{% endblock %}