{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	


<div class="breac_crumbs">
	<a href="">首頁</a> >  <p>開放資料</p>
</div>

<div class="tt-title">
	<img src="img/icon_tt01.png" alt="">
	<h4>開放資料</h4>
</div>

<div class="opendata">

	<div class="row-t">
		<div class="column_1"><h6>類別</h6></div>
		<div class="column_2"><h6>瀏覽次數</h6></div>
		<div class="column_3"><h6>下載次數</h6></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">林務局影音資訊平台</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">歷史脈絡類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>

	<div class="row-t">
		<div class="column_1"><a href="">林管地類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">生態保育類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">林業發展類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">地理區域類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">森林育樂類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>

	<div class="row-t">
		<div class="column_1"><a href="">中央行政類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>
	<div class="row-t">
		<div class="column_1"><a href="">類別影音</a></div>
		<div class="column_2"><p>918208</p></div>
		<div class="column_3"><p>1239088</p></div>
		<div class="clear"></div>
	</div>





</div>

<div class="bg-screen"></div>


















{% endblock %}