{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	




<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">影音檢索</a> > <p>進階查詢</p>
</div>

<div class="photo_page">
	<div class="photo_content">

		<div class="main_photo">
			<img src="img/ppp03.jpg" alt="">
			<div class="control_bar">
				<div class="control_photo">
					<div class="forward"><i class="fa fa-step-backward" aria-hidden="true"></i></div>
					<div class="forward"><i class="fa fa-backward" aria-hidden="true"></i></div>
					<div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
					<div class="forward"><i class="fa fa-forward" aria-hidden="true"></i></div>
					<div class="forward"><i class="fa fa-step-forward" aria-hidden="true"></i></div>
				</div>
				<div class="number">23</div>
			</div>
		</div>

		<div class="social-media">
			<a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
		</div>


		<h4>走在台灣的脊樑上</h4>
		<h5>合歡山四季歲時</h5>

		<p><span>出版日期</span>	094-09</p>
		<p><span>拍攝地點</span>	台中縣</p>
		<p><span>拍攝地點</span>	台中縣</p>
		<p><span>拍攝地點</span>	台中縣</p>
		<p><span>主題類別</span>	森林育樂, 森林遊樂</p>
		<p><span>作品語言</span>	中文</p>
		<p><span>出版單位</span>	林務局</p>
		<p><span>製作公司</span>	大麥影像傳播工作室</p>
		<p><span>導演</span>	      麥覺明</p>
		<p><span>數位典藏單位</span>	林務局局本部</p>
		<p><span>影片摘要</span>   本集介紹如何前往合歡山，以及合歡山地區動植物生態、高山氣象、高山地理景觀、森林界線、高山步道的規畫、四季不同季節所應俱備的裝備與交通工具、合歡山地區相關設施與方針。</p>
		<p><span>影片識別碼</span>	TFB-vi-098_00_03371</p>
		<p><span>頻道來源</span>  頻道一   頻道二</p>
		<p><span>授權聲明</span>  開放狀態 公開</p>
		<p><span>瀏覽次數</span>  1148</p>

		

	</div>

	<div class="related_link">
		<div class="result_item">
			<a href="">
				<div class="photo">
					<div class="play_btn"><img src="img/play_BTN.png" alt=""></div>
					<img src="img/b04.jpg" alt="">
				</div>
				<h6>山林 野趣 文化情</h6>
				<h5>2014/2</h5>
				<p>生態保育</p>
				<p>麥覺明、林務局、超級飄髮哥</p>
			</a>
		</div>

		<div class="result_item">
			<a href="">
				<div class="photo">
					<div class="play_btn"><img src="img/play_BTN.png" alt=""></div>
					<img src="img/b04.jpg" alt="">
				</div>
				<h6>山林 野趣 文化情</h6>
				<h5>2014/2</h5>
				<p>生態保育</p>
				<p>麥覺明、林務局、超級飄髮哥</p>
			</a>
		</div>

		<div class="result_item">
			<a href="">
				<div class="photo">
					<div class="play_btn"><img src="img/play_BTN.png" alt=""></div>
					<img src="img/b04.jpg" alt="">
				</div>
				<h6>山林 野趣 文化情</h6>
				<h5>2014/2</h5>
				<p>生態保育</p>
				<p>麥覺明、林務局、超級飄髮哥</p>
			</a>
		</div>
	</div>
</div>












<div class="bg-screen"></div>


















{% endblock %}