{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">影音檢索</a> > <p>進階查詢</p>
</div>



<div class="simple-search">

	<div class="seach_type">
		<div class="seach_type_item">
			<label class="control control--checkbox">照片
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>
		</div>
		<div class="seach_type_item">
			<label class="control control--checkbox">照片
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>	
		 </div>
  	</div>

	<div class="search_area">
		<p>請輸入查詢值</p>
		<input type="text">
		<select name="kt">
			<option value="all">全文</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
	</div>
	<div class="search_area">
		<p>請輸入查詢值</p>
		<input type="text">
		<select name="kt">
			<option value="all">全文</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
		<select name="kt">
			<option value="all">AND</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
	</div>
	<div class="search_area">
		<p>請輸入查詢值</p>
		<input type="text">
		<select name="kt">
			<option value="all">全文</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>

		<select name="kt">
			<option value="all">AND</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>

	</div>
	<div class="search_area">
		<p>請輸入查詢值</p>
		<input type="text">
		<select name="kt">
			<option value="all">AND</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
		<select name="kt">
			<option value="all">AND</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
	</div>

	<div class="select_area">
		<p>單位別</p>
		<select name="kt">
			<option value="all">全部</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
	</div>
	
	<div class="seach_type">
		<div class="seach_type_item">
			<label class="control control--checkbox">精確
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>
		</div>
		<div class="seach_type_item">
			<label class="control control--checkbox">模糊
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>	
		 </div>
		 <div class="seach_type_item">
			<label class="control control--checkbox">同義
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>	
		 </div>
  	</div>

	<div class="select_area">
		<p>查詢結果排序</p>
		<select name="kt">
			<option value="all">出版單位</option><option value="descript">內文</option><option value="location">地點</option><option value="creatName">作者</option><option value="createdDate">日期</option><option value="keyword">關鍵詞</option><option value="title">標題
		</option>
		</select>
	</div>

  	<a href="" class="submit">查詢</a>
 </div>












<div class="bg-screen"></div>


















{% endblock %}