{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">影音檢索</a> > <p>簡易查詢</p>
</div>


<div class="tt-title">
	<img src="img/icon_tt01.png" alt="">
	<h4>簡易查詢</h4>
</div>


<div class="simple-search">
	<div class="search_area">
		<p>請輸入查詢值</p>
		<input type="text">
	</div>

	<div class="seach_type">
		<div class="seach_type_item">
			<label class="control control--checkbox">照片
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>
		</div>
		<div class="seach_type_item">
			<label class="control control--checkbox">照片
		      <input type="checkbox" checked="checked"/>
		      <div class="control__indicator"></div>
		    </label>	
		 </div>
  	</div>


  	<a href="" class="submit">查詢</a>
 </div>






<div class="bg-screen"></div>


















{% endblock %}