{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	







<div class="breac_crumbs">
	<a href="">首頁</a>  > <p>影音使用說明</p>
</div>




<div class="tt-title">
	<img src="img/icon_a2.png" alt="">
	<h4>查詢說明</h4>
</div>


<div class="instructions">
	<h6>精確查詢</h6>
	<p>針對使用者輸入的字串進行逐字查詢，在標題、電子全文欄位。 </p>

	<h6>模糊查詢</h6>
	<p>精確查詢模式中查詢值以相連字串檢索，例：以「圖書館自動化」進行精確查詢，將不會查出「圖書館流通自動化」；模糊查詢則是將檢索值以近似詞的方式擴大檢索範圍，因此檢索值中的每一字元不必同時且相連出現於同一欄位中，透過相鄰與加權的計算，檢索出所有可能相關的資料，如：檢索值為「電子圖書館」，相關欄位中有「電子化圖書館」或「圖書館電子化」亦可被檢索出來。因此，其資料的顯示將依資料與檢索值相關度的計算結果排序。 </p>	

	<h6>同義查詢</h6>
	<p>在專業領域中，同樣的名詞常有不同的稱呼，使用同義詞檢索，您只需輸入其中一種名詞， 就能夠將所有文章中，同義的名詞檢索出來。例：在關鍵詞欄位輸入「aids」查詢，系統會查出關鍵詞中有aids字串的資料外，其它如「愛滋病」、「愛死病」、 「後天免疫不全症後群」、「Acquired immunodeficiency syndrome」等同義詞會一併查出。</p>	


</div>


	



<div class="bg-screen"></div>


















{% endblock %}