{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}




<div class="mainslider-static bgimg_encyclopedia">
	<div class="blacktree"></div>
	<div class="butterfly"><img src="img/butterfly.png" alt=""></div>
</div>
<div class="black-static">
	<div class="search_section">
		<input type="text">
		 <a href="" class="lens_icon"><i class="fa fa-search" aria-hidden="true"></i></a>
	</div>
</div>	 

<div class="breac_crumbs">
	<a href="">首頁</a> > <a href="">分類瀏覽</a> > <p>主題分類</p>
</div>



<!-- subject_title -->
<div class="title_wrapper">
<div class="subject_title">
	<div class="hoticon"><img src="img/icon_a1.png" alt=""></div>
	<h4>森林保育</h4>
	<h5>森林孕育了人類的先祖，也創造出人類的文化與文明</h5>
</div>
</div>


<div class="subject_a">

<!-- history_issue -->
	<div class="history_issue">
		<a href="">
		<img src="img/a04.jpg" alt="">
			<div class="play_btn">
				<img src="img/play_BTN.png" alt="">
			</div>
			<div class="mask">
			<h6>繽紛丹巒首部曲</h6>
			<p>丹大是國內最大面積的野生動物重要棲息環境，位臺灣地理中心中央山脈最深處，跨越亞熱帶、暖溫帶及冷溫帶三種氣候</p> 
			</div>
		</a>
	</div>

	<div class="history_issue">
		<a href="">
		<img src="img/a05.jpg" alt="">
			<div class="play_btn">
				<img src="img/play_BTN.png" alt="">
			</div>
			<div class="mask">
			<h6>繽紛丹巒首部曲</h6>
			<p>丹大是國內最大面積的野生動物重要棲息環境，位臺灣地理中心中央山脈最深處，跨越亞熱帶、暖溫帶及冷溫帶三種氣候</p> 
			</div>
		</a>
	</div>
<!-- forest_issue -->
	<div class="forest_issue">
		<a href="">
		<img src="img/a01.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>
	<div class="forest_issue">
		<a href="">
		<img src="img/a02.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>
	<div class="forest_issue">
		<a href="">
		<img src="img/a03.jpg" alt="">
		<div class="mask"><p>鴛鴦 創作者: 張燕伶</p> </div>
		</a>
	</div>



</div>



<div class="title_wrapper">
<div class="subject_title">
	<div class="hoticon"><img src="img/icon_a1.png" alt=""></div>
	<h4>歷次主題</h4>
	<h5>森林孕育了人類的先祖，也創造出人類的文化與文明</h5>
</div>
</div>

<div class="subject_b">
	
	<a href="">
		<div class="circle">
			<div class="photo">
				<img src="img/a06.jpg" alt="">
			</div>
			<p>航空測量天空之眼 The eyes in the sky</p>	
		</div>
	</a>

	<a href="">
		<div class="circle">
			<div class="photo">
				<img src="img/a07.jpg" alt="">
			</div>
			<p>航空測量天空之眼 The eyes in the sky</p>	
		</div>
	</a>
	<a href="">
		<div class="circle">
			<div class="photo">
				<img src="img/a08.jpg" alt="">
			</div>
			<p>航空測量天空之眼 The eyes in the sky</p>	
		</div>
	</a>
	
	<a href="">
		<div class="circle">
			<div class="photo">
				<img src="img/a09.jpg" alt="">
			</div>
			<p>航空測量天空之眼 The eyes in the sky</p>	
		</div>
	</a>




</div>



<div class="bg-screen"></div>


















{% endblock %}